.admin-container{
    width: 100%;
    padding: 20px;
}

/* Center card width */
.admin-card {
    width: 100%;
    max-width: 1000px;
}


.badge-info {
    background: #e1f5fe;
    color: #0288d1;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
}

table{
    max-width: 1000px;
    justify-content: center;
}

.back-to-dash {
    position: fixed;
    bottom: 30px;
    left: 10px;
    /* background: #2d3436;*/
   background: #2c3e50;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 12px;;
}

.back-to-dash:hover {
    background: #2d3436;
    color: white;
}

.table-responsive {
    overflow-x: unset !important;
}