.registration-page {
    margin-top: 100px;
    background-color: #f8f9fa;
    padding-bottom: 40px; 
}

.regi-cont {
    margin-top: 20px; 
    position: relative;
}

.reg-hero {
    height: 380px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
}

 .hero-text h1 {
    color: azure;
    font-size: 3rem;
    font-weight:800;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px whitesmoke; 
    margin-bottom: 10px;
}
.hero-text h3{
    color: azure;
    text-shadow: 2px 2px 4px whitesmoke; 
}

.registration-card {
    background: white;
    width: 100%;
    max-width: 500px; 
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: left; 
}

.registration-card label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.form-title {
    font-weight: 700;
    font-family: serif;
    margin-bottom: 10px;
    border-bottom: 2px solid #43cea2;
    color: #0f0f0f;
    display: inline-block;
}

.form-control {
    border-radius: 8px;
    border: 2px solid #ddd;
}

/* Radio button text fix */
.form-check-label {
    margin-bottom: 0 !important;
    margin-left: 5px;
}
.fix-label{
    margin-left: 0;
}
.btn-reg {
    background: linear-gradient(135deg, #43cea2, #185a9d);
    color: white;
    border: none;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    font-weight: bolder;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 10px;
}